/* Main Background Color */
body {
  margin: 0;
  background-color: #0D0F12;
}

.container {
  height: 100%;
}

/* Menu styles */
.Menu-Left {
  height: 100%;
  background-color: #2d2d2d;
  position: relative;
  z-index: 0;
}

.Menu-Left::-webkit-resizer {
  background-color: transparent;
}

/* Titlebar styles */

.app-icon {
  margin-top:7px;
  margin-left:7px;
}

.titlebar {
  display: flex;
  justify-content: space-between;
  height: 30px;
  background: transparent;
  user-select: none;
  grid-template-columns: auto max-content;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.titlebar>.controls {
  display: flex;
}

.titlebar button {
  appearance: none;
  padding: 0;
  margin: 0;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 40px;
  color: white;
  background-color: transparent;
  transition: background-color 0.1s ease-in-out;
}

.titlebar button:hover {
  background: rgba(255, 255, 255, 0.1);
}

.titlebar #titlebar-close:hover {
  background: #E81123;
}

.hello {
  margin-top:40px;
  display: flex;
  gap:20px;
  justify-content: center;
  margin-bottom: 30px;
}